.card{

    border:none;
    
    border-radius:15px;
    
    box-shadow:0 5px 15px rgba(0,0,0,.12);
    
    transition:.3s;
    
    }
    
    .card:hover{
    
    transform:translateY(-5px);
    
    }
    
    .card h2{
    
    font-weight:bold;
    
    }
    
    .table{
    
    background:#fff;
    
    border-radius:10px;
    
    overflow:hidden;
    
    }
    
    .btn{
    
    border-radius:10px;
    
    padding:12px;
    
    }
    
    canvas{
    
    max-height:350px;
    
    }